@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #322b5a;
  font-family: "Quicksand";
  font-weight: 500;
}

h1 {
  text-align: center;
  background-color: #6e89f6;
  font-family: "Monoton";
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 1.2rem 0;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.navigation-bar {
  width: 100%;
  height: 50px;
  background-color: #6e89f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ################################ class for chatbot container  */
.chatbot-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8ea3f8;
}

/* ########## classes for question container  */
.question-container {
  width: 30%;
  height: 600px;
  background-color: inherit;
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.question-box {
  height: 100%;
  width: 80%;
  background-color: #f7f7f7;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10pt;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

button {
  width: 80%;
  background-color: #c9d1df;
  color: #5176b5;
  font-family: inherit;
  border: none;
  border-radius: 10pt;
  margin-top: 5pt;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

button:hover {
  background-color: #5176b5;
  color: #f7f7f7;
}

.button.recording {
  background-color: red !important;
  color: white;
}

/* ########## classes for response container  */
.response-container {
  width: 70%;
  height: 600px;
  background-color: inherit;
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.data-box {
  width: 90%;
  height: 200px;
  background-color: #f7f7f7;
  color: #5a3e2b;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.control-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.control-caption {
  width: 20%;
  font-size: 1.8rem;
  font-weight: 700;
}

.control-box {
  width: 80%;
  background-color: #f7f7f7;
  color: #5a3e2b;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

/* ###################################   other classes  */
.data-table-wrapper {
  width: 90%;
  height: 240px;
  padding: 0.2rem;
}

.data-table-scroll {
  height: 100%;
  width: 100%;
  overflow-y: auto; /* vertikales Scrollen */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.data-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: #e8eaf3;
}

.data-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: 1.8rem;
}

.data-table th {
  background-color: #a7a7ea;
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 1.8rem;
  text-align: left;
}
