/* ################################ class for chatbot container  */
.chatbot-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* ################################ classes for question container  */
.question-container {
  width: 30%;
  height: 600px;
  background-color: inherit;
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.question-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.question-box {
  height: 100%;
  width: 80%;
  background-color: #f7f7f7;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10pt;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* #################################### classes for response container  */
.response-container {
  width: 70%;
  height: 600px;
  background-color: inherit;
  padding: 2.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

/* ########## classes for DATA  container  */
.data-container {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-box {
  width: 90%;
  height: 200px;
  background-color: #f7f7f7;
  color: #5a3e2b;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}

.data-table-wrapper {
  width: 90%;
  height: 90%;
  padding: 0.2rem;
  border-radius: 10px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.data-table-scroll {
  height: 100%;
  width: 100%;
  overflow-y: auto; /* vertikales Scrollen */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
}

.data-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

.data-table td {
  border: 1px solid #e4e1e1;
  padding: 8px;
  text-align: left;
  font-size: 1.8rem;
}

.data-table th {
  color: #f7f7f7;
  background-color: #6e89f6;
  position: sticky;
  top: 0;
  z-index: 1;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 1.8rem;
  text-align: left;
}

/* ########## classes for CONTROL Modal */
.control-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Transparenter schwarzer Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Überlagert alles andere */
}

/* Modal - Das eigentliche Popup */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 80%;
  z-index: 1001; /* Höher als das Overlay */
  position: relative;
}

.control-item {
  width: 90%;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.control-caption {
  width: 30%;
  font-size: 2.2rem;
  font-weight: 700;
}

.control-box {
  width: 70%;
  background-color: #f7f7f7;
  color: #5a3e2b;
  font-family: inherit;
  font-size: 1.4rem;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
}
